/* Tipografía */
@font-face {
  font-family: "favorit";
  src: url("../assets/fonts/favorit.woff2") format("woff2");
  font-style: normal;
}

/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #0366ee;
  --hover: #0000ee;
  --font-family: "favorit";
}

/****************************************
*    Base - Elements
*****************************************/
html {
  min-height: 100vh;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: 17px;
  font-family: var(--font-family);
}

a {
  color: black;
  text-decoration: none;
  cursor: auto;
}

a:hover,
a:active {
  color: var(--hover);
  text-decoration: none;
}

ul {
  list-style: none;
}

/****************************************
*    Common
*****************************************/
/* Layout */
.site-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header h1,
.header a {
  font-size: 15px;
  text-transform: uppercase;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  height: 100px;
  border-bottom: 1px solid black;
}

.site-name {
  justify-self: end;
  align-self: end;
  padding: 0.5em;
  font-weight: normal;
}

.header span {
  background: #000;
}

nav {
  justify-self: start;
  align-self: end;
  padding: 0.5em;
  transform: translateY(1px);
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu li:not(:first-child) {
  padding-top: 0.5em;
}

main {
  margin: 0 auto;
}

.footer {
  font-size: 11px;
  text-align: center;
  padding-bottom: 5px;
}

@media screen and (min-width: 40em) {
  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu li:not(:first-child) {
    padding-top: 0;
  }

  .menu li {
    padding-right: 1em;
  }
}

/****************************************
*    Home
*****************************************/
.home {
  width: min(90%, 600px);
  margin: 5vh auto;
}

/****************************************
*    Profile
*****************************************/
.profile {
  width: min(90%, 600px);
  margin: 5vh auto;
  text-align: justify-content;
}

.profile img {
  margin: 1em 0 4em;
}

.descripcion {
  margin-top: 1.5em;
}

/****************************************
*    Contacto
*****************************************/
.contacto {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
}

.contacto > *:not(:first-child) {
  padding-top: 0.5em;
}

/****************************************
*    TODO
* Imagenes art 1000px height x 1300px width
*****************************************/

.slider {
  position: relative;
  margin: auto;
}

.imagenes {
  width: 327px;
  height: 425px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.imagen {
  position: absolute;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  transition: all 0.6s;
  transform: translatex(-200%);
}

.imagen.next + .imagen {
  transform: translatex(200%);
}

.imagen.anterior {
  z-index: 10;
  transform: translatex(-100%);
  opacity: 0;
}

.imagen.actual {
  z-index: 10;
  transform: translatex(0);
}

.slide.siguiente {
  z-index: 10;
  transform: translatex(100%);
}

button {
  /*  position: absolute; 
  height: 850px;
  width: 325px;*/
  border: none;
  /* cursor: none;*/
  transition: all 0.3s ease 0s;
  z-index: 20;
}
/*
button:hover {
  opacity: 0;
}
*/
/*
.anterior {
  top: 0;
  left: 0;
}

.siguiente {
  top: 0;
  right: 0;
  transform: translateX(46px);
}
*/

/*
button:last-of-type {
  position: absolute;
  right: 0;
  transform: translateX(46px);
}*/

@media screen and (min-width: 40em) {
  .imagenes {
    width: 654px;
    height: 850px;
  }
}
