/* Tipografía */
@font-face {
  font-family: "favorit";
  src: url("../assets/fonts/favorit.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #0366ee;
  --link: #0000ee;
  --hover: blue;
  --font-family: "favorit";
}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: 17px;
  font-family: var(--font-family);
}

a {
  color: black;
  text-decoration: none;
  cursor: auto;
}

a:hover,
a:active {
  color: var(--hover);
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/****************************************
*    Components - Common
*****************************************/
/* Layout */
.site-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Nav */
.nav-container {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  min-height: 13vh;
  outline: 1px solid black;
}

.nav-container h1,
.nav-container a {
  font-size: 15px;
  font-weight: normal;
}

@media screen and (min-width: 40em) {
  .menu ul {
    all: unset;
    list-style: none;
    display: flex;
    /*  max-width: 270px; */
  }
  .menu li {
    padding-right: 10px;
  }
}

/* Header */
.header {
  align-self: end;
  justify-self: end;
}

/* Linea */
.linea {
  background-color: black;
}

/* Nav */
.menu {
  align-self: end;
}

/*
.menu ul > *:not(:last-child) {
  line-height: 1.5;
}
*/
.header,
.menu {
  padding: 10px;
}

/* Imagen */
.imagen-home {
  max-width: 400px;
  margin: 0 auto;
}

.imagen-home {
  max-width: 80vw;
  margin: 0 auto;
}

/* Descripcion */
.descripcion {
  max-width: 80vw;
  margin: 0 auto;
}

/* Footer */
.footer {
  text-align: center;
  padding-bottom: 5px;
}

.footer p {
  font-size: 10px;
}

/* Página contacto */
.container-contacto {
  margin: auto;
  text-transform: uppercase;
  text-align: center;
}
.container-contacto a {
  display: block;
}

/*
.container-contacto a:last-of-type {
  padding: 0.3em 0;
}
*/
/****************************************
*    Helpers
*****************************************/
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ayuda visual temporal */
.outline {
  border: 2px dotted blue;
}
