/* Tipografía */
@font-face {
  font-family:"Favorit";
  src:url("/assets/fonts/favorit-light.woff2") format("woff2");
  font-style:normal;
  font-weight:400;
}

/* Reset */
html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}blockquote,body,figure,h1,h2,h3,h4,h5,h6,hr,li,ol,pre,ul{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{color:inherit;font:inherit;letter-spacing:inherit}button,input,textarea{border:1px solid gray}button{border-radius:0;padding:.75em 1em;background-color:transparent}button *{pointer-events:none}embed,iframe,img,object,video{display:block;max-width:100%}table{table-layout:fixed;width:100%}[hidden]{display:none}noscript{display:block;margin-bottom:1em;margin-top:1em}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --background: white;
  --primary: #0366EE;
  --secondary: #FCB42A;
  /* Typography */
  --font-family: "Favorit";
}

/****************************************
*    Base - Elements
*****************************************/
body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

/****************************************
*    Componentes
*****************************************/
 
/* Header */
.header {
  display: flex;
  border: 1px solid var(--primary);
}
.header h1 {
  display: flex;
  justify-content: flex-end;
  width: 50vw;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 105%;
}
/* Nav */
.nav ul {
  display: flex;
}
.nav ul li {
  display: flex;
  padding: 0 20px;
}
/* Main */
.main {
  border: 1px solid var(--secondary);
}
.main p {
  font-size: 20px;
}
/* Footer */
.footer {
  border: 1px solid var(--primary);
}
.footer p {
  font-size: 14px;
}